################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Programazioa/InbentarioaUnmi/.vs/InbentarioaUnmi/FileContentIndex/53231a5c-518a-4a70-9e1b-932849f4511a.vsidx
/Programazioa/InbentarioaUnmi/.vs/InbentarioaUnmi/FileContentIndex/66fdcefa-9d12-44a1-9a8b-3924d402f1c7.vsidx
/Programazioa/InbentarioaUnmi/.vs/InbentarioaUnmi/FileContentIndex/84dc3d03-321e-4cf1-a5f7-b776d37519b4.vsidx
