################################################################################
# Visual Studio / C# / WinForms
################################################################################

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build folders
[Bb]in/
[Oo]bj/

# Logs
*.log

# NuGet packages
packages/

# VS Code / Rider (opcional)
.vscode/
.idea/

# Archivos temporales
*.tmp
*.cache
